body{
    margin: 0%;

}
 img{
    width : 100%;
   
}
/* .main-image{
    height: 180px;
} */
#image{
    /* border: 1px solid rgb(128, 128, 128); */
    width: 100%;
    background-color:white;

}
.chair{
    height: 300px;
    width: 20%;
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.chair:hover{
cursor: pointer;
border: 1px solid rgb(195, 221, 212);
background-color: rgb(195, 221, 212);
transition: all 0.2sec;
transform: rotate(-5deg);
}

body{
    background-color: #efefefef
}
#per{
    width: 50px;
    height: 20px;
    background-color: rgb(187, 211, 171);
    margin: 5px;
    text-align: center;
}

.offer{
    width: 100%;
    display: flex;
    align-items: center;
    /* gap: 13vmax; */
    justify-content: space-between;
}
#edit{
   
    margin: 5px;

}
#edit img{
    width: 15px;
    margin: 5px;
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    
}

#name{
    margin-top: 2vmax;
    font-size: 15px;
    font-weight: 500;
}
#id:after{
    content: "click on image to add cart";
}
.chair:hover #id:after{
    content:"this is my product"
}